[submodule "lib/css/tachyons"]
	path = lib/css/tachyons
	url = https://github.com/tachyons-css/tachyons
[submodule "lib/css/flexboxgrid"]
	path = lib/css/flexboxgrid
	url = https://github.com/kristoferjoseph/flexboxgrid
[submodule "lib/css/normalize.css"]
	path = lib/css/normalize.css
	url = https://github.com/necolas/normalize.css/
