/**
 * THEMATIC DEFAULT / GLOBAL STYLES
 * Feel free to edit & match your theme
 * Some classes were originally sourced from LOTUS: http://goatslacker.github.io/lotus.css/
 * */

/*
 *
 * BUTTONS
 * 
 * */

.btn {
     background-color: #a8b2bd;
     border: 0;
     border-radius: .25em;
     cursor: pointer;
     display: inline-block;
     padding: .5em 1.5em;
     outline: 0;
     text-align: center
 }
 
 .btn-sm {
     padding: .25em .75em
 }
 
 .btn-lg {
     padding: 1em 3em
 }

 /*
 *
 * FORMS
 * 
 * */
 
 label {
     margin-bottom: .5em
 }
 
 label,
 label textarea,
 label input,
 label select {
     display: block
 }
 
 textarea,
 input,
 select {
     border: .1em solid #e2e5e9;
     padding: .5em
 }
 
 textarea:focus,
 input:focus,
 select:focus {
     border-color: #70bde6
 }
 
 textarea,
 input {
     outline: 0;
     width: 13em
 }
 
 select {
     height: 2.25em;
     width: 14em
 }
 
 input[type=checkbox],
 input[type=radio] {
     display: inline-block;
     width: auto
 }
 
 input[disabled] {
     color: #e2e5e9
 }
 
 .form-addon {
     background-color: #fff;
     border: .1em solid #e2e5e9;
     padding: .5em 1em
 }
 
 /*
 *
 * TABLES
 * 
 * */

 .table {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%
 }
 
 .table th,
 .table td {
     padding: .5em;
     text-align: left
 }
 
 .table tbody>:nth-child(2n-1) {
     background-color: #e2e5e9
 }